query {
  group(fullPath: "QubesOS") {
    projects {% if pagination_offset %}(after: "{{ pagination_offset }}"){% endif %}{
      nodes {
        name
{{pipelines}}
      }
      pageInfo {
        endCursor
        hasNextPage
      }
    }
  }
}