{%- for dist, components in qubes_status.items() -%}
{{dist}}
===
| Component | Status (R4.0) | Status (master) |
|-----------|------------|------------|
{%- for key, val in components.items() %}
| {{key}} | {%if '4.0' in val%}{%if 'build' in val['4.0'].keys()%}[![{{val['4.0']['build']['text']}}]({{val['4.0']['build']['badge']}})]({{val['4.0']['build']['url']}}){%endif%} {%if 'install' in val['4.0'].keys()%}[![{{val['4.0']['install']['text']}}]({{val['4.0']['install']['badge']}})]({{val['4.0']['install']['url']}}){%endif%} {%if 'repro' in val['4.0'].keys()%}[![{{val['4.0']['repro']['text']}}]({{val['4.0']['repro']['badge']}})]({{val['4.0']['repro']['url']}}){%endif%}{%endif%} | {%if '4.1' in val%}{%if 'build' in val['4.1'].keys()%}[![{{val['4.1']['build']['text']}}]({{val['4.1']['build']['badge']}})]({{val['4.1']['build']['url']}}){%endif%} {%if 'install' in val['4.1'].keys()%}[![{{val['4.1']['install']['text']}}]({{val['4.1']['install']['badge']}})]({{val['4.1']['install']['url']}}){%endif%} {%if 'repro' in val['4.1'].keys()%}[![{{val['4.1']['repro']['text']}}]({{val['4.1']['repro']['badge']}})]({{val['4.1']['repro']['url']}}){%endif%}{%endif%} |
{%- endfor %}
{% endfor %}