<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
  <title>QubesOS components status</title>
  <style>
      body { font-family: sans-serif; }
      td, th { border: solid 2px #dcdcdc; padding: 4px; }
      table { border-collapse: collapse; }
      .status { text-align: center; }
  </style>
</head>

<body>
{%- for dist, components in qubes_status.items() -%}
    <h1 id="{{dist}}">{{dist}}</h1>
    <table>
        <thead>
            <tr class="header">
                <th>Component</th>
                <th colspan="2">Status (R{{current_release}})</th>
                <th colspan="2">Status (R{{next_release}})</th>
            </tr>
        </thead>
        <tbody>
            {%- for key, val in components.items() %}
                <tr>
                    <td rowspan="2"><a href="{{val['project_url']}}">{{key}}</a></td>
                    {%- for release in ['current_release', 'next_release'] %}
                        <td>
                            <img src="branch.svg" />&nbsp;
                            {%- if release in val %}
                                {{val[release]['branch']}}
                            {%- else %}
                                N/A
                            {% endif %}
                        </td>
                        <td rowspan="2" class="status">
                            {%- if release in val %}
                                {%- for stage in ['build', 'install', 'repro'] %}
                                    {%- if stage in val[release].keys() %}
                                        <a href="{{val[release][stage]['url']}}"><img src="{{val[release][stage]['badge']}}" alt="{{val[release][stage]['text']}}"/></a>
                                    {%- else %}
                                    <img src="{{stage}}_unknown.svg" alt="Unknown"/>
                                    {%- endif %}
                                {%- endfor %}
                            {%- else %}
                               No pipeline found
                            {%- endif %}
                        </td>
                    {%- endfor %}
                </tr>
                <tr>
                    {%- for release in ['current_release', 'next_release'] %}
                        <td>
                            <img src="calendar.svg" />&nbsp;
                            {%- if release in val %}
                                <span title="{{val[release]['last_job_creation_time']}}">
                                    {{val[release]['last_job_time_delta']}}
                                </span>
                            {%- else %}
                                N/A
                            {%- endif %}
                        </td>
                    {%- endfor %}
                </tr>
            {%- endfor %}
        </tbody>
    </table>
{%- endfor %}
</body>
</html>
