<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
  <title>QubesOS components status</title>
  <style>
      body { font-family: sans-serif; }
      td, th { border: solid 2px #dcdcdc; padding: 4px; }
      table { border-collapse: collapse; }
      .job_time { font-size: small; padding-left: 3px; }
  </style>
</head>

<body>
{%- for dist, components in qubes_status.items() -%}
    <h1 id="{{dist}}">{{dist}}</h1>
    <table>
        <thead>
            <tr class="header">
                <th>Component</th>
                <th>Status (R{{current_release}})</th>
                <th>Status (R{{next_release}})</th>
            </tr>
        </thead>
        <tbody>
            {%- for key, val in components.items() %}
                <tr>
                    <td><a href="{{val['project_url']}}">{{key}}</a></td>
                    {%- for release in ['current_release', 'next_release'] %}
                        <td>
                            {%- if release in val %}
                                {%- for stage in ['build', 'install', 'repro'] %}
                                    {%- if stage in val[release].keys() %}
                                        <a href="{{val[release][stage]['url']}}"><img src="{{val[release][stage]['badge']}}" alt="{{val[release][stage]['text']}}"/></a>
                                    {%- endif %}
                                {%- endfor %}
                                <span class="job_time" title="{{val[release]['last_job_creation_time']}}">
                                    ({{val[release]['last_job_time_delta']}})
                                </span>
                            {%- endif %}
                        </td>
                    {%- endfor %}
                </tr>
            {%- endfor %}
        </tbody>
    </table>
{%- endfor %}
</body>
</html>
